.single-page{
          .top-bar{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px;
                    .search-pages{
                              display: inline-flex;
                              gap: 10px;
                              align-items: center;
                              input{
                                        background: lightgray;
                                        border: none;
                                        outline: none;
                                        border-bottom: 2px solid var(--primary-2);
                                        padding: 0 10px;
                                        width: 80px;
                                        text-align: center;
                              }
                    }
                    .navigate{
                              span{
                                        cursor: pointer;
                                        margin-right: 30px;
                                        svg{
                                                  font-size: 26px;
                                        }
                              }
                    }
          }
          .page-div-container{
                    background: lightgray;
                    width: 100%;
                    min-height: 500px;
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    .page{
                              background: white;
                              width: 500px;
                              min-height: 600px;
                              padding: 40px 30px;
                    }
          }
}